<!DOCTYPE>
<html>

  <head>
    <title>Carleton Course Graph</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    {{> scripts }}
  </head>

  <body>
    {{> navbar }}
    <div class="graph" id="cy"></div>
  </body>

  <script src="../js/graph.js"></script>
</html>