{{>scripts}}
<head>
  <title>Carleton Course Register</title>
</head>

<div class="p-5">
    <h1>Register</h1>
    <form class="w-25" id="register" method="post" action="/register">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" required/>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required/>
        </div>
        <a href="/login">Login</a><br>
        <input id="submit" type="submit" class="btn btn-primary">
    </form>
</div>
<script src="../js/authorization.js"></script>